html {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}
@import "./close-icon";
@import "./menu-icon";
@import "./section1";
@import "./header";
@import "./main";
@import "./sidebar";
@import "./footer";